php_value display_errors On
php_value mbstring.http_input auto
php_value date.timezone America/New_York
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://devlist.rf.gd/$1 [R,L]
RewriteRule ^invite/(.*)$ invite.php?id=$1 [L]